@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

 <a class="btn btn-outline-danger" asp-area="" asp-controller="Admin" asp-action="AddBrand">Add Brand</a>
  <a class="btn btn-outline-danger" asp-area="" asp-controller="Admin" asp-action="AddRegion">Add Region</a>
  <a class="btn btn-outline-danger" asp-area="" asp-controller="Admin" asp-action="AddCarBody">Add Car Body</a>
 <a class="btn btn-outline-danger" asp-area="" asp-controller="Admin" asp-action="GrudBrand">Grud Operations with Brands</a>
 <a class="btn btn-outline-danger" asp-area="" asp-controller="Admin" asp-action="GrudRegion">Grud Operations with Regions</a>
  <a class="btn btn-outline-danger" asp-area="" asp-controller="Admin" asp-action="GrudCarBody">Grud Operations with Car Bodies</a>