@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using WebCarSell.Models;
@model BrandList

<h1>All Brands</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>        
@foreach (var item in Model.BrandsList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>          
            <td>
                <a asp-action="EditBrand" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="DeleteBrand" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

