@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ModelView


<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-4" style="padding-top:5%; padding-bottom:10%">
            <form asp-action="DeleteModel" method="post">
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Name</label>
                    <input asp-for="Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Year" class="control-label">Year</label>
                    <input asp-for="Year" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Mileage" class="control-label">Mileage</label>
                    <input asp-for="Mileage" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Engine_Volume" class="control-label">Engine_Volume</label>
                    <input asp-for="Engine_Volume" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Color" class="control-label">Color</label>
                    <input asp-for="Color" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Transmission" class="control-label">Transmission</label>
                    <input asp-for="Transmission" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Drive" class="control-label">Drive</label>
                    <input asp-for="Drive" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label">Price</label>
                    <input asp-for="Price" class="form-control" />
                </div>
                  <div class="form-group">
                 <label asp-for="OwnerPhone" class="control-label">OwnerPhone</label>
                 <input asp-for="OwnerPhone" class="form-control"/>
                 <span asp-validation-for="OwnerPhone" class="text-danger"></span>
            </div>
             <div class="form-group">
                 <label asp-for="CountOfModifications" class="control-label">Count of Modifications</label>
                 <input asp-for="CountOfModifications" class="form-control"/>
                 <span asp-validation-for="CountOfModifications" class="text-danger"></span>
            </div>
             <div class="form-group">
                 <label asp-for="Description" class="control-label">Description</label>
                 <textarea asp-for="Description" class="form-control"></textarea>
                 <span asp-validation-for="Description" class="text-danger"></span>
            </div>  
            <div class="form-group">
                 <label asp-for="RegionId" class="control-label">Region</label>
                 <select asp-for="RegionId" required class="form-select" asp-items="ViewBag.Region"></select>
            </div>
            <div class="form-group">
                 <label asp-for="BrandId" class="control-label">Brand</label>
                 <select asp-for="BrandId" required class="form-select" asp-items="ViewBag.Brand"></select>
            </div>
            <div class="form-group">
                 <label asp-for="BodyId" class="control-label">Body</label>
                 <select asp-for="BodyId" required class="form-select" asp-items="ViewBag.Body"></select>
            </div> 
             <div class="form-group">
                 <label asp-for="ModificationId" class="control-label">Modifications</label>
                 <select asp-for="ModificationId" required class="form-select" asp-items="ViewBag.Modification"></select>
            </div>
             <div class="form-group">
                 <label asp-for="CategoryId" class="control-label">Sport`s Category</label>
                 <select asp-for="CategoryId" required class="form-select" asp-items="ViewBag.Category"></select>
            </div> 
                <div class="form-group">
                    <input type="submit" value="Delete Announcement" class="btn btn-outline-danger" tabindex="-1" role="button" aria-disabled="true" style="font-weight: bold; margin-top:10px; margin-left:130px" />
                </div>
            </form>
        </div>
    </div>
</div>
