@{
  ViewData["Title"] = "Profile Page";
}

<form method="post" asp-action="Logout" asp-controller="Account">
    <h4>User Profile</h4>
    <h6>Hello @User.Identity.Name</h6>
    <input type="submit" value="Logout" class="btn btn-outline-danger" tabindex="-1" role="button" aria-disabled="true" style="font-weight: bold; margin-top:10px;"/>
</form>
