@model WebCarSell.Models.ModelView
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<title>Add a new car </title>

<form asp-action="Privacy"  method="post">
    <div class="form-group">
         <label asp-for="Name" class="control-label">Name</label>
         <input asp-for="Name" class="form-control"/>
    </div>
    <div class="form-group">
         <label asp-for="Year" class="control-label">Year</label>
         <input asp-for="Year" class="form-control"/>
    </div>
    <div class="form-group">
         <label asp-for="Mileage" class="control-label">Mileage</label>
         <input asp-for="Mileage" class="form-control"/>
    </div>
     <div class="form-group">
         <label asp-for="Engine_Volume" class="control-label">Engine_Volume</label>
         <input asp-for="Engine_Volume" class="form-control"/>
    </div>
     <div class="form-group">
         <label asp-for="Color" class="control-label">Color</label>
         <input asp-for="Color" class="form-control"/>
    </div>
     <div class="form-group">
         <label asp-for="Transmission" class="control-label">Transmission</label>
         <input asp-for="Transmission" class="form-control"/>
    </div>
     <div class="form-group">
         <label asp-for="Drive" class="control-label">Drive</label>
         <input asp-for="Drive" class="form-control"/>
    </div>
     <div class="form-group">
         <label asp-for="Price" class="control-label">Price</label>
         <input asp-for="Price" class="form-control"/>
    </div>
  @*  <div class="form-group">
         <label asp-for="Region" class="control-label">Region</label>
         <select asp-for="Region" class="form-select">
              @{
                  List<RegionModelView> regionModels = new List<RegionModelView>();
                  regionModels = ViewBag.Regions;
                }
                @foreach (var item in regionModels)
                {
                   <option value="Kharkiv">@item.Name</option> 
                }     
         </select>
    </div>*@

   @* <div class="form-group">
         <label asp-for="Brand" class="control-label">Brand</label>
         <select asp-for="Brand" class="form-select" asp-items="ViewBag.AddInfo"></select>
    </div>*@

   
    <div class="form-group">
        <input type="submit" value="Add Car" class="btn btn-outline-danger" />
    </div>


</form>
